<h2 class="board-name"><%= @board.name %></h2>

<div id="elm-main"></div>

<script>
  window.boardId = "<%= assigns[:board].id %>";
  window.currentUser = "<%= assigns[:current_user].email %>";
</script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
